.sub-card-title {
  display: flex;
  border-bottom: 0.02rem solid #e9eaef;
  align-items: center;
  padding: 0.16rem 0;
  align-items: center;
  justify-content: space-between;
  .title-left {
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 0.28rem;
    font-weight: bold;
    color: #121d3a;
    line-height: 0.4rem;
    position: relative;
    display: flex;
    align-items: center;
    // padding-left: .14rem;
    // padding-right: .09rem;
  }
  .title::before {
    content: '';
    display: flex;
    width: 0.06rem;
    height: 0.26rem;
    background: #e74949;
    margin-right: 0.08rem;
  }
  .sub-title {
    font-size: 0.24rem;
    font-weight: normal;
    color: #545968;
    line-height: 0.34rem;
    display: flex;
    align-items: center;
  }
  .sub-title::before {
    content: '';
    display: flex;
    width: 0.02rem;
    height: 0.26rem;
    background: #e9eaef;
    margin-right: 0.1rem;
    margin-left: 0.08rem;
  }
  .right-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.22rem;
    font-family: din-bold;
    font-weight: bold;
    color: #545968;
    line-height: 0.38rem;
  }
  .right-title-bold {
    font-size: 0.28rem;
    font-weight: bold;
    color: #121d3a;
    line-height: 0.4rem;
    display: flex;
    align-items: center;
  }
  .right-title-bold::before {
    content: '';
    display: flex;
    width: 0.06rem;
    height: 0.26rem;
    background: #e74949;
    margin-right: 0.08rem;
  }
}
